/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .navMenuHead {
        padding-left: 0;
    }
    .navMenuHead ul li {
        padding-right: 19px;
    }

    .forUs {
        margin-top: 120px;
        background-size: 50%;
    }

    .rightBoxForUs {
        padding-left: 70px;
    }

    .titleForUS h2 {
        padding-bottom: 24px;
        font-size: 21px;
    }
    .liftItemForUs {
        padding-bottom: 72px;
    }
    .titleIconForUs {
        font-size: 13px;
    }

    .liftItemForUs p {
        font-size: 12px;
        padding-top: 7px;
        padding-left: 10px;
    }

    .liftItemForUs span {
        padding-left: 10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .logoContainer {
        padding-left: 15px;
    }

    .navMenuHead {
        padding-left: 58px;
    }

    .telContainer {
        text-align: center;
    }

    .mainTitle {
        margin-top: 135px;
    }

    .mainTitle h1 {
        font-size: 42px;
    }
    .titlePrice {
        margin-top: 15px;
        font-size: 20px;
    }

    .mainPriceForm {
        margin-bottom: 130px;
    }

    .forUs {
        margin-top: 70px;
        margin-bottom: 70px;
        background-image: none;
        text-align: center;
    }

    .titleForUS h2 {
        padding-bottom: 50px;
        font-size: 21px;
    }

    .liftItemForUs {
        padding-bottom: 26px;
    }

    .liftItemForUs img {
        padding-bottom: 10px;
    }

    .rightBoxForUs {
        padding-left: 0;
    }

    .boxProductPadding {
        margin-top: 30px;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .logoContainer {
        padding-left: 0;
        text-align: center;
    }

    .navMenuHead {
        padding-left: 0;
        text-align: center;
    }
    .telContainer {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3;
        text-align: center;
    }

    .navMenuHead ul a {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
    }

    .mainTitle h1 {
        font-size: 28px;
    }


}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .logoContainer img {
        width: 100px;
    }

    .navMenuHead ul li {
        padding-right: 5px;
    }
    .navMenuHead ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .navMenuHead {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .mainForm button {
        margin-top: 20px;
    }

    .mainTitle h1 {
        font-size: 21px;
        letter-spacing: -0.5px;
    }
    .titlePrice {
        margin-top: 15px;
        font-size: 14px;
    }

    .mainPriceForm {
        margin-bottom: 130px;
    }
    .mainFormBox {
        margin-top: 30px;
        position: relative;
        z-index: 1;
    }

    .form-group input {
        margin-right: 0;
    }

    .titleForUS h2 {
        color: #3b3b3b;
        font-size: 21px;
        font-weight: 700;
        line-height: 1.6;
        padding-bottom: 20px;
    }


}

@media only screen and (max-width : 400px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .navMenuHead ul a {
        font-size: 10px;
    }

    .telContainer {
        font-size: 12px;
    }
    .logoContainer {
        padding-top: 0;
    }

    .mainTitle h1 {
        font-size: 18px;
        letter-spacing: -0.5px;
    }

    .form-group input {
        margin-top: 10px;
    }

    .mainForm button {
        background: #4267b2 none repeat scroll 0 0;
        border: medium none transparent;
        border-radius: 2px;
        color: #fff;
        font-size: 11px;
        font-weight: 700;
        line-height: 36px;
        margin-top: 20px;
        padding: 1px 30px;
        text-transform: uppercase;
    }

    .boxProduct {
        border: 1px solid #bfbfbf;
        width: 145px;
        height: 260px;
    }

    .boxImgProduct img {
        width: 143px;
    }

    .boxProductPadding {
        padding-right: 3px;
        padding-left: 5px;
    }

    .boxTitleProduct {
        padding-top: 15px;
        text-align: center;
    }

    .BtnProduct {
        margin-top: 15px;
        padding: 0 25px;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}


@media (min-width : 768px) and (max-width : 1199px) {
    .boxProduct {
        border: 1px solid #bfbfbf;
        width: 300px;
        height: 533px;
    }

    .boxImgProduct img {
        width: 298px;
    }

    .leftViewText {
        padding-left: 10px;
         }
    .rightViewText {
        padding-right: 10px;
    }

    .leftViewText p {
        padding-top: 1px;
    }
    .rightViewText p {
        padding-top: 1px;
    }

    .viewProduct {
        font-size: 12px;
    }

}

@media (min-width : 620px) and (max-width : 767px) {
    .boxProduct {
        border: 1px solid #bfbfbf;
        width: 300px;
        height: 436px;
    }

    .boxImgProduct img {
        width: 298px;
    }


}

@media (min-width : 480px) and (max-width : 619px) {
    .boxProduct {
        width: 230px;
        height: 340px;
    }

    .boxImgProduct img {
        width: 228px;
    }

    .boxProductPadding {
        padding-right: 3px;
        padding-left: 5px;
    }

    .boxTitleProduct {
        padding-top: 15px;
        text-align: center;
    }
    .BtnProduct {
        margin-top: 15px;
    }
}

@media (min-width : 400px) and (max-width : 479px) {
    .boxProduct {
        border: 1px solid #bfbfbf;
        width: 196px;
        height: 320px;
    }

    .boxImgProduct img {
        width: 194px;
    }

    .boxProductPadding {
        padding-right: 3px;
        padding-left: 5px;
    }

    .boxTitleProduct {
        padding-top: 15px;
        text-align: center;
    }

    .BtnProduct {
        margin-top: 15px;
    }

}

@media (min-width : 321px) and (max-width : 399px) {
    .boxProduct {
        border: 1px solid #bfbfbf;
        width: 157px;
        height: 270px;
    }

    .boxImgProduct img {
        width: 155px;
    }

    .boxProductPadding {
        padding-right: 3px;
        padding-left: 5%;
    }

    .boxTitleProduct {
        padding-top: 15px;
        text-align: center;
    }

    .BtnProduct {
        margin-top: 15px;
        padding: 0 25px;
    }

}






