@import "bourbon/bourbon"


body
	font-family: "HelveticaNeueCyr", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.3
	-webkit-font-smoothing: antialiased

.row-no-gutter
	margin-right: 0
	margin-left: 0
	[class*="col-"]
		padding-right: 0
		padding-left: 0

.noPadding
	padding: 0
.noMargin
	margin: 0

h1, h2, h3, p
	padding: 0
	margin: 0

ol, ul
	list-style: none

.hidden
	display: none
/************************ Header *************************/
.mainHead
	background: #101119
	color: #fff
	padding-top: 15px
	padding-bottom: 15px

.navMenuHead
	padding-top: 5px
	padding-left: 15px
	ul
		li
			display: inline-block
			padding-right: 27px
		a
			text-decoration: none
			color: #fff
			font-size: 15px
			font-weight: 500
			&:hover
				color: #4267b2


.logoContainer
	padding-top: 5px

.telContainer
	font-size: 18px
	font-weight: 500
	line-height: 1.3
	text-align: right

/************************ Section Main *************************/

.main
	background: url("../img/bgMain.jpg")
	-webkit-background-size: cover
	background-size: cover
	background-position: center bottom
	background-repeat: no-repeat

.mainTitle
	margin: 0 auto
	margin-top: 216px
	text-align: center
	h1
		color: #FFF
		font-size: 50px
		text-transform: uppercase
		line-height: 1
		font-weight: 700
		letter-spacing: -2.5px

.mainPriceForm
	text-align: center
	margin-bottom: 205px

.titlePrice
	margin-top: 50px
	color: #fff
	font-size: 25px
	font-weight: 700

.bracketMain
	position: absolute
	top: 486px
	bottom: 0
	right: 0
	left: 0

.mainFormBox
	margin-top: 46px
	position: relative
	z-index: 1

.mainForm

	color: #000
	button
		border: transparent
		border-radius: 2px
		color: #fff
		line-height: 36px
		padding: 1px 30px
		background: #4267b2
		font-size: 11px
		text-transform: uppercase
		font-weight: 700
.form-group
	color: #000
	input
		border: transparent
		border-radius: 2px
		line-height: 36px
		text-indent: 47px
		background-color: #fff
		font-size: 11px
		font-weight: 500
		margin-right: 13px
		padding-right: 46px
	::-webkit-input-placeholder
		color: #343434
	::-moz-placeholder
		color: #343434
	::-moz-placeholder
		color: #343434
	::-ms-input-placeholder
		color: #343434
.inputName
	background-image: url("../img/inputName.jpg")
	background-repeat: no-repeat

.inputMail
	background-image: url("../img/inputMail.jpg")
	background-repeat: no-repeat


/************************ Section forUs *************************/

.forUs
	margin-top: 120px
	background-image: url("../img/bgForUs.jpg")
	background-repeat: no-repeat

.rightBoxForUs
	padding-left: 20px
	padding-right: 0

.titleForUS
	h2
		color: #3b3b3b
		font-size: 25px
		font-weight: 700
		line-height: 0
		padding-bottom: 40px
	span
		color: #4267b2

.liftItemForUs
	padding-bottom: 110px
	p
		color: #3b3b3b
		font-size: 15px
		font-weight: 500
		padding-top: 7px
.titleIconForUs
	font-size: 15px
	font-weight: 700
	text-transform: uppercase
	color: #4267b2

.boxProductPadding
	padding-right: 23px
	margin-top: 106px

.boxProduct
	border: 1px solid #bfbfbf
	width: 362px
	height: 588px
.boxTitleProduct
	text-align: center
	padding-top: 29px
	h3
		font-weight: 700
		color: #3b3b3b
		text-transform: uppercase
		font-size: 14px

.viewProduct
	padding-top: 29px
	font-weight: 500
	color: #3b3b3b

.leftViewText
	padding-left: 28px
	padding-right: 0

.rightViewText
	padding-right: 28px
	padding-left: 0
	text-align: right

.boxBtnProduct
	text-align: center

.BtnProduct
	margin-top: 29px
	border: transparent
	border-radius: 2px
	color: #fff
	line-height: 36px
	padding: 0 47px
	background: #4267b2
	font-size: 10px
	text-transform: uppercase
	font-weight: 700