
@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: url('HelveticaNeueCyr-Black.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src:  url('HelveticaNeueCyr-Black.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADsMAA8AAAAAYKQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA68AAAABoA
AAAcSJlLs0dERUYAADXsAAAAMwAAADgC/QHSR1BPUwAANqAAAARPAAAHeA0H9AhHU1VCAAA2IAAA
AH0AAADY1YrYNE9TLzIAAAHMAAAAWQAAAGBvqNgrY21hcAAABHwAAAGKAAACOgxUpWFnYXNwAAA1
5AAAAAgAAAAI//8AA2dseWYAAAfgAAAogQAAQRQTYblOaGVhZAAAAVgAAAA0AAAANgqyOv9oaGVh
AAABjAAAACAAAAAkBzgEpWhtdHgAAAIoAAACUwAAA6hHCh4QbG9jYQAABggAAAHWAAAB1oI/cmpt
YXhwAAABrAAAAB4AAAAgATMAeG5hbWUAADBkAAADBAAAB49HWouCcG9zdAAAM2gAAAJ8AAAFwK2a
eQ542mNgZGBgYGRwZLG6fCqe3+YrAzfzC6AIw+U9vyfA6P/r/muxZDH3A9VxMDCBRAGUtQ7JeNpj
YGRgYDr1P4IhmKX//7r/l1myGIAiKOAVAK/jB+N42mNgZGBgeMVQysDOAAJMQMzIABJzAPMZACb1
AawAAHjaY2Bi4mNuYWBlZGDaw9TFwMDQA6EZ7zIYMfxiYGBi4GRmBVEsDQxM3AIMDB4MUBAQGRTM
oMCg8ICR6dT/CIZg5n6Ga0BhFiYgwcTCdAJIKTCwAACnHQ4PAAAAeNpdU01rU0EUPTP30WqrRAyp
aY1tWtMSShKrjTF9qbEFqy3Y7gp1HRCKbtwEf4CW4EZ3CnHpRtHiD3AR6M6NULfiRgPupDYkaMXx
3Eks4oPDve9+z7kz8hX+M6vEGlHCJduPdfsMQ8RxOcCybWLCpLFC37QpubZ5j6jdoL6GnHmCc5RZ
89J1GD9JVImzxERPxokcsUiMaAzji0SBNQaJmJdlnJAkTtpd12a/ku0gLQMo2wb1KkLqk7SFnDO0
FSS9T+1vMK92SdDf6Mkm5mwdx9hrmL6irbk92XEHtsnadffZvkacc1/VmSkH2H/GtHj2IbfN2qds
jRxUME45xh5j5gH6KIf5XyQHITn4Qv9F1WVH6zOecV4yx7xFnucZYe1+zbEZ15Fb7iflPvHdZhCj
L4pPGFXJ/oazZokl2lKcPUUuoqyToS9hHiNCJKiPst6cveN+k7+Fnj/GvCnlSW6S6wquKHd6fuXK
rLqPyldwA0eIUGM8d3X3TXk75FvBXElBtFZwF0ftc3KoMR3Pf1kGmfsv3+preH/ac82a8kL5d23G
z9pdZIPrCINN5GUZEdk/jE8G1yib7pfnu4ppe5t3qMUZagiUS3nofvBs8R6nuo887QF5KfzHd3dX
GUSUW7mPpOe57u1T8hQFeYXzdht9ss4aG8yv4LTc8374OlXuvuXPP+731t3xB92zbDFvy/eDn0H3
1+05y5y83hvhG+L7yP0F388McYHIc47LCsYtMW4heIRF7CGtoB7SNm/f6Tsgd5u8A3oXum/ijKL3
vvAHdqPNtAB42mNgYGBmgGAZBkYgycBoAuQxgvksjBJA2onBgYGVgYmhjmEJw3KGlQxrGNYxbGTY
zrCb4TvjJBYeFn+WGJZ4lokKIgpSCnIKSgpqCgYKVopiikpKbEpSSnJKHkoJSqkPGP//B5qlwLCY
YRnQjNVAMzYwbIWawcjCxxLIEscyQUFYQUJBRkEBbIYlmhkpDxj+////+P/+//v+7/2/5//u/7v+
b/+/5X/lv/t/Cv8U/Mn/k/fH7sHeB7se7Hyw48HWB2seLLl/8v6+e7fvnbh39N6ce633mhReQPxI
KWBkY4AbxMgEJJjQFQCDlIWVjZ2Dk4ubh5ePX0BQSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tH
V0/fwNDI2MTUzNzC0sraxtbO3sHRydnF1c3dw9PL28fXzz8gMCg4JDQsPCIyKjomNi4+IZGgG29k
MSSl3splyEx7wMDwlIHhcfaz5ww5yCoyHhU+eZiefxvCu3Dx6rVLlwvA7Lv3GBhu5l25fgeP+QAi
g4AFAAAAAAAAAAAAAAAAABgALABcALABDAFSAWABeAGQAa4BwgHYAeYB8gICAiwCQgJ8AsAC4AMO
A0YDYgOqA+YD+gQWBCoEPgRSBJAE4gUEBTAFWgV6BZIFqAXSBeoF+AYcBjoGSgZwBpIGuAbWBwgH
PgeAB5IHsAfKB/gIIgg+CF4IcAh+CJAIpAiwCL4JAgkuCVIJegmiCcYKAgogCjQKWAqoCrYK4Ar8
CxwLQAtkC4ALwAviDAAMGgxIDG4MmAy4DOgM9g0mDUwNkg3ODeIOYg6iDr4Ozg8UDzQPTg9uD4wP
mg+2D9AQChAuEFoQchCaENwQ6hEEESgRYBGIEawR0BIOEiQSRhJuEpoSqhLQEugTDhNQE2wTnBO6
E94UBBQcFEIUVhR0FJ4UsBTaFRAVOhVSFXQVihWmFcYV7BYMFjQWZBaIFswXBBcyF0IXZBeMF7AX
6hgCGCwYRhhuGIwYohjCGNYY+hkeGTAZWhmoGc4Z5hoCGhgaNBpUGngalhq+GugbChs+G24bhhuu
G+4cAhwcHEAcehygHMIc4h0cHTIdRh1YHWYddB2IHZwdsB3UHfoeIB42HlQeah6CHuge+h8MH0gf
bh+EH5wf2iAmIEggYiB8IIogigAAeNrNewd4VNW2/9n7TMmkTGYyLWWSyZRkUidlyknvCSWFkJ4Q
SoCEFCD0EqQISBUQQZqCgIigCChVNIhKMIqAjSLRZ3+W670IdiVn3trnzCQB9X7ve0///5dhCjP7
rL32Xu231tqHwhRDUUiAuykhJYFPKtpI2xUqox0JmDGOCxdw9y72OjI8zgovXKDgD1OV6H70LD5K
0ZSYohRG2kqebzUEbXoanvBbBHsNRcA4NQxeho9RQZQO6IqtKqPYyHBPu5V7WsXcU6WHd6z1G9ai
26vL0e0NLW72K2rS7dHl6h7XlbIH5TlytHr0ij3wt2L0it3wt2L0aJjdx7kFr6RVVBRlp1IJ5yEo
GBnttnCzSq2Bh0opMsI6jAYLstsYq0qpsZvstgzE2OV2kUoZItSoHDAaTZr84DGTeUHEBB+8fWGa
sHhBBeoewf4ybMrgMqG3h8ojMKM6glaV0Y2tUrE5UrBCK48ZL/drXFhXF98+XECLRwo3Rz01ZGyE
oIw9eA9O8ZR5e3hg8Qsr6ezgUAp2dbDzG/oU7gKOpVQoFU2lU5QEGZEiUQ0MGsLtNofGoFGq4BGC
rInAkgWjf/Mb/p69ZxJaurS8vrqmbMSIyniEVapAJRYreq/9/jvc1WvG77H7Gg63jK2ta6xuEGBa
GKQzxGWoNXoZeuKPvwc505TBeRPfwFdAfuGUBfZXJNYYzVLEs8WQF2sibLJY42DMGbDF4UYDbKsY
nmprIoMPywZt+kekrZyZsLFsCDN/RO3smYzc65lAbZBapfXJjwiJCUOjxg19xmrUzWzKnRyam1nc
OqlsemqOwnSPTB+oDAxU6v4RGh1oMFKIGoLupz7kdI7TuJfrgzlNAz4RFeWsRfn4LcqL8AiTa4wc
gyirzhpzuC0xGb/15s2mW6Mvft72QyMMcf4I4+Wu8UqxkbButoYgJG87HGOteyo5EXl/fnH0raab
bzb+QOgrUAp6Hr8J0gMt1ojNYjNjZjRmq5hBzy8orSspri1faJxHTxfNw1Jza257e26ruTVu+fI4
whvYQDz2IHMprHarCoyAqGTUM3uegX+o4ujR7SdOwDiLcxD1K3WB8qQoBvRWbAc1Ndp/nVIfGUVX
XTg2Yiaql0RHXuDWG0cdR81oDNkLpNLbUTP7Khrz5JPcb7Hw+hvQoQkdo/23ixeI1SLnT84b6Aju
Id8T3UNHWOfzCOGeXiX+hth0mPMnPBO/QPlQgTA8MQSplG5JawxSWqW0JhJTKRmzMiN9ZcO6bY8t
C4lSe+OJbTb8QtMjoxt2NF7auPPl7cERmdEhp18dP4bwMgtevgT7J15FbpSDxSeCVL58c7eiqA3j
Y72FaM2Dw/Mpjm8jMDEP5g+nqDBYky0DMxkCuwVYEImNbk2TYrEUiR1WPK93X0BiSoShNCZShmLD
U6Lp57dsmL9JlRgdoZqqrc3ev987blhOotY/LkCnU4WG5aV5rtkwd3xUjt0QKM1SSfg5DbDmWTBn
AsgmA5EJRGJu4TS3cOIxOJMDHgzRyE6U2qXmYodw868P2S3JmYbk4rKY+/ajF5rjbBORRCbx8FaF
S4ON8ZEjEbo0e1bbCFu+h09pWnyJzShbsMDLw7Mh3DgE3Qt7r9NoDRVk7/m1HwXZy4hEiYKAVK1y
sZ3hFjviPHsRMefO0o/HylHqns2bj6MJ7HK0NOtVmluHP6xjGlwfzOmDWCTmd4v4D7NVzS2B8GxU
4EL2ZQ+Bd2pd2/wDSxY/JnpZNDYxibFlBx3Lx0f3RvkbrR0t997bPmeI1RJnTURrgTcL0J4BexRI
mYC6EeiAEPrpE0HBfzAxfDWZCE8+Kc3UxwVJBZl1UxbumbVxi2nwPcObV12tYJiKJNTr8LfE6awz
mmeuOr2xZMmE1FHsz0nRUUxSVCQvk2zYi2pYC7E1lUiuIqbsx4hg+3H1mz3owcoJgW/iozt72Ksy
obAD5eQKDnG+KhD4XAx8El+VCPLkvVMIJjLlNAeiAG23hRl47wSc0v0fw/dM3Lwwob7KxthWMCOa
mNiyygwzsiYkJdsSkibbU9IYe0o6mqyfWNusjCyxJQ31McxPqYnTeIVYihLu+zzcYDRHGgvYn6LN
ETHREeYYlz1NBn6CKfBRDJFCBs04GJdPd2kz/Ifq5yL2pHxwYLhKJhAgZB01ddmeOQ8+bBrcMWzG
apRYQXYo6XiWQh0XGCwRWtvaZ655cUvRvU2p49BZe2RUclJEFBebk2DfaMTysRl0iY/k9Pnz5xH7
xhvsJXcMdzgHIYx6SRR1jyNexwFOB+E33mhoK/WoQb1wxZtPtE0RjPAuu8DLx8v5GS7G4ZQIAluY
PUzlg3Bx72mcw25EE7Xvrb+2f84cjr6KKsN56JwLI+hV/APH9b5Fnujc1twtd9NTCFVCeyzywjm9
p9EkdgMOv7b+PTc9sAwci9+D3YzhrJXXQLFUzEV8B5Mh4ZRcRZYrEz24cPIWR5LA30Mh8hYIThjS
sEwgFXoJxDQOCcjd8gbqmXvf1KbkQcHYW+gllvr4eXp6FhZqkRiLBWKRROItUgdVs7e4zcKUn/Nf
NMLXwU8AygjrE6EGsIvI5SL40EfkyGgGyph85hSNG4Veiy/KGTa/Il8n6cj0DjRl3z9j1ZGnVgzp
GBS7bdf+D79+avMriytN9siIpHAz81HOiCFjN8aFXI6WB7YXjJt76L4FO+Ot6dPf3LH7/Sfva94b
hvynJqausoQTHp0/wksPYDgxsRzw8GbAWUhhDjeLfBG6jEQfGD83foDEB8N9pDKpGXf3JjU24m7W
0RGdnRU7l+JsCFaHXwYaPiA9LZFaIkRzXlH1ChXvCsUqEgiMqWhCb+09saX1Seyqd+fpjEVTl5eX
4+5n6+zRS9Oq41U4fHJwQNJPy3LyQMYRzhv4KuxfAAjcHVRgdzRG4t6lyAUXrkqeW7Hr7Gs7Fz/n
8a4kzRKf7T8ka6wcBax95MquRy/vmhNvSy+Lr22axutvBrx8Crx6UHKOU26v9Qq5SxoZKOPxl58/
zJ67UjVs+Ogq3N35+OHjWMU+Wl9WW0f0jqx1A1zvxflM90OOV7IrUQV7AN3buw93P137ePMxGATj
U2B8A3yU9I2HiIYb2CNIx358HXcfmbTPSZGhMDbM+S2+BroayMU9s2jAiomKcss12vG11eLCJZtf
OL+z45j0bXXt6qKh49Wj0Ap2zpDai3v3vLVhdvlrI8eUb+Xtjszf6eKXxFJ4AJiw487rF3t6LhJ5
ogD2C9x940bfeKSE8TQ/HimvkzH8WkJBHnHwUUN+41Q0HVlVWhwiILsnx3ErFy5afhYLPXwU3tpA
0JLw+YtXzberaJ2n1lspEevD0GeEDsiAVnL6QkmwnhargCexUszgf7AsimZvHMy6eg1cDxD4B1uM
VLlv4+4HZCN7+9YznMs5SLyXW+V4eO9XPadOAZe3yO9pQHsm/K7k+IdgDFmJWoeMcj0ge0cmomde
8Fj22HIxQhdQssWk8I2NIQts67zGgnbsvrwSdz/30NyqzqMD9k7O0aLDzWqVBlhVqDXhdjPufOuZ
gGAxeufatjiNCHE7GRedlTXuJ+D7h1LH8PJ/8vjoBv4J8JMnyWqQ27RlAI76owjasPNs16493d2P
5RQOzcstGIJ7Lu174uIFVHbhUHP96JaWxtpGQovw8wSnSzKiu6FAKxpcsII3rRTkQMyGuSvee6+l
bhSwM2vu+zhgc2ERr/dhziP4Z+BDBpkEFSY23+FsxOaBrghAKv65oSmvZfvLF3du7bZEbPAdnJc7
dGi6Sp7VoBo7IRq07N23Hi1ZFr5Blzu6qWVUXbskYwzMkQwTgUpBLDVwtsVH0RCkQ0SD45CFHsBu
MloYW1ESlxwfnygSC32uSQQ0LfGPD6u/dm1OLbgYZWxVasootXdzWmGyUhEfYYqJUf6GjQ8OHczp
gTfYyjJ8lcsvOH8AiQ6tCRHcCV/MFmwm4ZusE7dcQPFRg/2jTbGCqLSC6JB96x46gHuErZHxUp+h
jT7RSbaAR+9dsRl9G2qK8Vb7ekqQlzIsNj+6fcnK2fWhQXJvr8Bgoa82Njtm/Ly5hAfwS4Adul0R
k0OqeHH39Vdx94neG1h+goxJcn6HX4Qxvi6bCQ0AgEZ2Gezlxcd2sZ3XbclNoDEjHluDTOgZtijJ
MRkd5WzReRPob4ZrPUlshuSF12C8uefHyx+YsuSKTCNvmws/Xrv8i0X8Nb+B/gMDlD93De/H+y51
vdGvvnJZb/IShuuuvnLVFOklidG/FBwv8U7QEnoHzzQUvnsYsvdTj0z5eO/am3Me+sRFm8SKm0Bb
wWEFvYs4ol2mhS9/SjnZn/O1/nr/vF5E/wNRjsCgIGUKLO9ZdtmMOCY3fCrqQCWjYtKTw1p4mp8C
zRNA05vQhC3sW+UJ51X2lt0uDbCCy2GTWScSoZenTovObhvLYVe4bqPLNlUEuqaSlEZBkJLYjpd9
qR++XHGxd+nPBmaexwuwmF7TcOGpg0gaZqXRSbg+zzkWremXnRV8CVqzcSMLvGztPb+Fbroz9xEa
kRUdeR6SHznJexDlCdeXu66X6+1WkD0qZ09sBJ5ub9uCHVtgTDyicARgUsAoQYgUO8Txh7ce2jFq
JKLQUbaIcjp5n0s5l6DvncfIPCq7XoW+n5+YSPbmIGaoT3lfrIAMekHjygO4e/16zp414FcGYQVY
GliA3hjuMmiAipD+2Ljsh0ANYt0qpVnkTq4ddjyoW4yyx9eMm2KqF4argqXZplDhc+LfXo2V4tPq
AkdIoMPfO1CdXVXUFublg2iBp1Iaqw55ekxwtm5u1IQXfX29o/y1EcpY3q8woN8tnByCgEuVmCAs
kgsBO2bYV8RjGPAut5E+N2FwU/Q9jaNtp5EqMra60oK7X0oJ05XOHDRvcz7oMXskPWnWTCaT7Ike
6A7BMuI1w34X+wlJBg+Rrps6f/sjC6es9+gURAZXV+V6X2qesXH2vM3TRupMyzuKCH86oEPihZSz
CJBSPwyz0wY3CsPDO+0jmufPHleTWlpVFRUbSwwhKX/T/LkP5t9mn509PS0pOZ3i6d3EtVgONuB/
J2fBSE8qLZmIpEy4RLN1xIK9u+5Z/DC7FNstjJb2KC/1fbisZu38uY/sXumb4Ih+tKYG1gm6gZa5
YqqKuOBgCKm8L7HySRJaplZHqJuauoYP12UOsQbjc8uRVKPpYGehVR0qxyCTlPAV4ATcDPoQTJnd
0Rl8n5Ur/qSjAVDCLjaIuMADq85btcJWVhQv6vII1ceFOOqbZsxutOYEVUbFWqKiYy1YwOYvmyo1
FSQGKuMsqdmLp09bborMWOoYzzDjHbzuQt6Ay4B/EpHkMIEKWOcANbz/mjb21NmQiBLAhuxvxa8A
5gmOjGllf+bgDh/PEMXptyvn0BDEQZ07dw53r1p1tvc2FnAY9TNnLaK5ObiozidARjvn4uUMl6cE
MAUOKSMViRKCXn0V+PZIGhzug7YjRQy6dHbNGp5XOxCbCnRmkHqMwmjmgEdwk5i4m/ITl7+eaDh7
llYo6rDgFfbFTsPDuJv+f/CHaUmEVtPmwl7UAOxFnevHXrDP9BqQL2dlRHu50E02m99r19uPSa2t
ESkTq5u6M3O6MnLPYUHO8LKy5hr2aWQsr2Y/RlHD6tiPuX1FpH6Ly7EfJzvVXfR+yGwcW/NqbhFQ
yCqZUs+eQvqyavYzuJK3gSrgxZPyG4BpSMGHt3WUPv+RHfMX7Hh0XkVVJVZsmtuxdcutLesWL7lv
kctn1IHPkINNqvpmdjsMIUfD9oN9dOO8WeOqMrqQqqq6CguS8jff07E+7wP85PpZM76mXLZYB7bt
onOXbYuBDrCCh59NGjl29j2N9Ul1lQexoLfqP/LXz71nSx7zwNxpM2fxemGDl07YB99+GySIlLgy
1BmlS8vs6kTawQ5/LHlampv+NRaUxhPYQQWCbzHBPkQPxCBWFwZx2Z4t3Mw9XBhEdUQYYnTIDf7h
yBSXZgpY1fGT7/OCsPBgfWisr6TJUHpvR8tSNEmr1HnJvYRCsVdgqMNYOea50GB1uMyTxmq5uWZY
xRCeb7HzF3Q/foxbvcrIO3gVD8uJ97Cq0P1tmmitT1rMpBGVlV1YMO9kVDBeJyga+cW8Rx912S/I
sgykKuvbQTuAaiUP6MvOWNte6M6N1cLG3c4Z/i7KZK8WJCUgER+7fwIh2ODau/CJbf+XB96K1HqJ
dRZyHRZsaanMbd/DX/Mr6HEbXPNv8UnbY6/FKH2kysjXH7sQ5u/rpww5aVBJffzDCb39xRPHV+7H
gvVjWzvqVm4e1TSmYRtP+zvgJwloK1z2zRNXmN2MGXadeC9cplDLjNeP7b4WpPLUeGqw4Hv224zA
BGtgGpJ9Hx+htvlFEFq3nLWYAVrEL9NSxJfxMjBAyr51Mp262hH3qgJkykCpaN/bKVIvP89k4PDb
6rwdCIsVvp6+6PU3EgvqDef4vQY5YZjwLsxCqjukTIUeDB7s0B/vZddlWmIVe7Fg0/KgFOHmLQsZ
E/0Qd70CMMd94A5CuUpGOrJl0CDvYMSBbHjTqCw0fGtWMMkh0UOz4hryKysKGvJqC3RTULZXoq06
Ls8cIKFrfJpia+okkrqa2CafGloZW5aRM0YO9EOcUdQZ2o/4Hw0oQcjuK/SXt/2pu+cOI1NKsdgO
gcXmYCyEE7M9RADfqjXovim6gtq8hoKKyvyGuKyh0SHJzFfyMTkZZbHKu2eWBJjz4qptiV5AH1Fr
cA1aQvSC4ZELqYlYias3WwRGQ8OY4FUJmbN0WqNXg8AwzBY/0sMoD9J4Wdd8428Ji05srDTSUpGE
5mrZgI3uxW+T+iwp8vB5jQbCKmk6uGhz5RYzidUk9zEb7TrE2WgoHn8mL8igxxOH0ozO4BcR7Osw
lOROjqmzhzJJRZMkU8P1kRs7EEbXhZU6f9Ug4Tw/j4xYbw9R4poitY95ypBilWYewtaMEZOIj8qn
qnAFbuLqi668i/QBCFQzMxquGqQhtRKx2Z2AJTpwRXVukt2Wkludq9XmVudlRyU5cqtzgoOnxxn0
8XF5cQdryA81uYmptmR40wbDr9kWB9Ouj4vTG+LiYF6T8wvqFP6Qj61EmjQ8TZs2bQpAcexb6HVk
Yd+muHFFeC6+RhVQDa46LelwiTUhYlcF1JXm8/mURWi2iAc0cTh4FyKEBI//WRCHAFXsp1MDggUe
ErmPRh7sKbFpYjQ6Xy8mwbZ8yoS1+wUFWr3QxydAbvTyTA5KDDL5+aRZI5Y3Ny1mD8mUtKfITxIg
bNN5S9UeEj9PNZ4YhuUpGoXI09NDIvYkdTmlp0quDY5Q24tklpza1nHjpFkBaonUR+IllgoEak9/
hU4X7W8vVEQnlYyfzDqVMrGnp0gi8MSxUoXMQyrxEkiQhe9VKZw3aAowvhi8P+kKyUShkJ2H+tnC
CUxKNN9RgnGX6qxSRFM97Ovv9yDH8ie/3b//2yl1M9tri1tELd45plhLpD7Uo0UyHlPs6z0wpIf1
I2P25y8YNXb+qGFF2alp2QZzST3Z/xjIEh5AnwAO5OqpYo3KbDfzb+iBoqKdpuLineiTbRnp2xce
XbA5I+vhRc9y9qilMrADnSN1EIVdD55biwM3odit7BxSyBFQvmgiWgjrkoA3jKTiKcqvvzPYV3Q3
8304d4YOQJgk6AyJ4dFo3paJkwqLJn4/p7JyTuUnDfoIk9ILQ96XIpD6e6Wn+5CKfs/ELW0TC4vz
qlLTKipT06JDQ8K8Pf0DvFW0tyxINmiGP2nlUlo0Fs3CzwMvco4PUCrCh5owAfu8eG1T09qmWfoY
fagFP984aHBj4+BB8Ra93hLKx/kQeEnGaZQXidCMnY9tpCEmhGzp6smTT548yW7HgS/MfKS9/eFZ
L+zYAfuTDP67HHytX19cM5PajTv1Lj8TkhSppru7Q02DSFBhCvTP4afYr+KiRiISPpwsYItKV95u
dBXOSDvYYdXjSvuCEQvq2zfMRMNw8+1btPT2LfQAnj9+9lLeV2ZRx5EUfBnNo1okvYiWuOvnRN7r
0We8vBUaldjOxCHuzfztrl3Dhp3dubOkBH1275FFWzOyty18ZuFDWaRcRqmc/4lzcRhnz158Zdxd
pVdhS+/baPLhw4dR7RNo+r59bMu+fYSPcGcpzsfvkD4REoN7BIRiZjgFVoCQGYJvNGK+MwOBEvup
xsSrWuf7WzVekOKJbPXKUSpV89R0nb9UrdRISXtBjh6Zw343u5RehWR6pJkzbXoZXo1Eah+1mB7b
VwveQK/mZKW4s0YaRhqY8BxYK0U3DzkO9xVMX1kFf5SrN7WdzoL9Dwav2VcpJ7jMCDI3qtyF/GiE
fgmIjYmLi0/48Bie8r6qLGb2qnWrY3PyYuLSs5L2YvmJE+sCIh6cOW8Pv/+QXOIqeh1wKuF2hSFF
B8i5v3t2yVhRD9bQ69avZxf33sDdJzg+/rQGTUIH6CABeQy+6nVyOalBLzrp+a66fpSu8yWf3IQx
fkh5/1ZShH5k1sjWHUkZk/6P1K3+vMZLO9+H76aC/Fx6Rn53yw3GIYYTFxk8QFZ/TV0YUx7O7wSJ
QEfHxUpSl5cbybkAMbFeDn8J7CAr2BMx+Cd4FyRueoC9uEikWWuKTjDLgvyC5J5CiL2Na1e/Wzu8
tO7XWUuxXPps8j9jvWT7vRTmyCyLCSXenD69YKMr/+Tm8yPSdc3nqo9bfzdLV09P1/UBhFEw+ynu
vnnz5vQZhJqrJkUX8rU3/UBFDaGDeRwiRgc4LfUuUlhLqpLCPmqOiSYaOlLo6WlMmTDo4I5FvnyP
glaCjvoQfzmwQp5JFPauKnkZKO7dlfJXSZEIO284/4WfAln6k/1k+kA2r8eA2PiDITSfqJCgBl+/
89mNYo23r1/xDfZmSLstdLS32KrxNxVPFMUaw0ziFrqpvHb0D+idNzPSC+Pf7D2VXe7r8ZTINyhA
jp8KDww2lleV8nV68J+uvoOe6A+4XvJAn5z/oOfi9b17Sb0eS3uT/poeFOb8zhmur0MyCyPfdQo3
q8jucy0eYuQdbfMsNscTO8MHFTqM2zazB3AxilwSZI70/3mUly6uJHFRK+5+4m/taXH+h+9fIN7z
BILXwXLe42CwwDo6iKtXkdyYNDg4PZJbM5AdEXMQiXdhQ805duarQyJjUNHyKA1syL/YPXv3ovri
X1ezFjQ6LeO5mP9Jrwo8oqCVr++GmWm9AjQGDIGx0gpOBdEF63L2x18//O3g9YO/ffgL++PyxOvX
09mv0Fkk+BT+2NtsGtKkX++rz68G/GHhLavftVkA0YtI8SYFkXQqnFQq+9qyIQivPrqCc2+jExlF
mD7AI8TDI8hfHq30s1Yx6ALau2bJw2mxtsKPO2avnF0XG+4f4iNAK5DYO0gZYgoPndTR1GCpknrX
Dux9+fB7TXpBBAGIFbjzTdGlr98S8v0v7ymZbD7o063hNeiEu8/SCXbjw1Vb7jAP4R10Ou+wCvSL
iyq92mUJrb+n/r/tf/k7v8OvwLVqTjuMLgfZ5x4fwNb3lsjtz8Zz3lBGvCHx1vKol6quCXkfmBln
+pv6ZP+9HuNf2RPrn1vcPzc3L79sYlV9tcb/Ye/s7+hD/7d6R7z/5uPJn3rvP/HXf+ihiV8Lg5el
nI1rOVzIH3V0HcgBaydRL9woT8zAQjknDnrpk1uvbHw2rHBxxZVNT1+3puotagl7LtXhQC2Ld+fn
P7bQ1lCeOGjQzo74UvbXoJjIqUg8LIEp/Xv6RZQV/KPArWucc+TiCj5Qc773156zJKywO13RxXWu
DW9z8cDjEj6FI9fKpQiVbV/xXkSyOlXy3nuSKoSXbji0flCelwD5gNIqBD7unrPAh5/TKu9/pFzZ
d3XfFZjqJvblnkmkluisE4zm8wahmznXQzD6/O2d3DU1XPxzX3aL6CeMpxO5PpiCnFS0czCHC1xh
PAo5dwKtn7t2NUCRU2hLbeP4OlCS/5g/fdbSn0t3gFyBR/o5rlco5+uB7svlLhXnkd4IjsK16wV1
tXgUwD6OAuz3oh0lpWgRBwJ5W9nrovVHlJQuPq6PByp3kOjHg5dc9jLA95Oju9x5Ms7d40tndy0/
6XXNb0xCrs9LnbpRdZp3pUcW7XwNNe26svX+SRlJO1orZjx0mfDjvCHQg7/wI5kgcrkXd8wA8mED
jtGgRW09PdO0hxdtOvnc5uXH0aF0B5OZmcSkoiD2c9z947y1xI3s/qC2sWUEeBGuv3AbXp5y7z1B
bhD7SK4XiWg712zCT11J3cj++EZqMQpDBVfay8sRBlcdo27L6mEvL8vLof5P9eSiuJruZ2DhJlf0
5erPTAZmrCISLeBpdXAAl++l4bJtHcsLcyoadSWJvseFYyJn0/QKGW2/f9zyc6XFw0p6Zz9UU/T8
imfCvb185JMi5UqkmTRmw4y58+7hsBKxsWLItUUQTQhW4tUEwhN3vEasIv3AMOKsQJH/WZzsSGZP
oJRJjYURDPtDgD63CG2qio1kW7EgPbdEhz1yYh6dqg1IaKJcGAZ9BbSFXM4LsklFB7/qwoKHWL4P
KnDOxvfC75zshC6s5JCD4ZGkBSAFvvcZ9pODyXnoXEpvrcZ/5cqVKKQBSdn1H4ksK41/R0/P+Qts
ynrgSUVwlJgrQHMZBWN1dZ3QhJDx31w5/Xk7hK7J/3n68jfjgzu3hj6HEt55Av7eYS89F7qVi/U3
cTLwxZ0EVPYfyLS782Gx0eboP37KaZv/C/FGgzEiUuXNWEID1CbBqbVfL4wyxNgeWjFr7RFDtDEg
RIWaVTqFJjCwuqIkz8hIPTLNdaMaRlF9PSHSDyD+lbhII4d1rGhNVye9CZ6kWIIU7D+xgP2e6+W4
+n9eXPbHxyZi7Yyi71qFFX1DjxpUPFI4QjiswOMMT2hTF+4eWl4yjGHA00rZW0DwFyR292PwZE6m
A/p0sH248vilLxoju7roRVjwOnvukAUk7zq/LHD+iDPgmgDegpVijpU4ZFcnZgjtDrseZ7w0VuY3
osLH6OWlCFT4eNCkmPU+al85tLZYTAvWiL00KqPSKMjfSeg5gAeid77EGyvIqR94yOETbfwHLTzx
01jU8PMJId06E+WyncD7OygWNgY+37WH3MkAI7cA2MOu9V1dqO7J3ttdoMJPUv/rXlr/XAPxTxlM
w8mpnV3Ptfr+sp7bX9WXR2RfcTDPt4K3WuPRx7H08bOo/SHetv+OHgwNsamMhuSR0lMx3P0rfHzi
ztYPXA5nr1yIEXOOW0X8QJjdvUgH3ThnjCnFk36R9kwxjZnTNt6U4wX/8coxjW87M0ymE4pCpMPZ
00KdbNhwaQgSLd6gk128KNNtWDxrk1F944bauHnKdJn3aW+/kNPesun3+f3F/SuQ92y8jtfBgTgE
rzvK1net6spbuRKUdgM5LsvLNRzmttzRB3RjJcaOLScqhz7bpQ8L9SdqdT7k4soptkhZp8tO6LH8
PAOxkeOlmWdmvuSeAk3qvQ1jE5yz6Z28TQ0cSywkgRufe7T/CnYD+9FKXndF8LLV7eNddRr7wDoQ
3trawp5bhobeM6HpfHZaas6xyjGgR7tGVKdMB5mDP6H1cD25j0bJ+QcrzVHhqjwijgatP3Pmh9Zm
9vqZtubGrpyEBODkmcoxWLBrxAPTXGdHiU/I4fqdMjcfAyjgHLj8XFdHc+PrOampx+64FlFBYDc5
YDcBd+TDLkjkToFxzvb57Wvkp32yBnnPm+OXqTWLOj0fmLzwEXb2xvbxuRXjhuq0dZM28/Z8k64F
v+HH33fhPrbPexrQXLf/wMNnbtg4q3mNvLirq1yzamTB4EG8F5k17nUsOFTT5HYlQJO8xMD6fMgu
hYmNjKvgLTemY07v0ZCR39znSJg6BcV2MQX5hw+/rKmNKarrvX14WjuTxPUd+FjazcVSLdct/LN4
itzl4D+OqyjykOPw3cEVreWrjuTM1HA8GOYxkv0kN16Y7eSgi62vSuzuEZAzKXiwOCBySKLJbjfm
R+u7YmO7zp7NqDkzLia/ONFAr8/KEDQ47CPR1jknTsxZVPqBq54EuMN1bxuPPEjxjUMfqIPU3AgE
cR3HcvnFwS75Golkrb/zjmIrapznPSjL57R8TTtxkJMf8OwUmbWZfnOuVuSObyceclKdVjf0///Z
gv/u2Rza+Q782uwad3e9mDqHLKRezB0COOuuF/9V53nALzh/pKcBH6HkzJPLL/w+8A/wE/Q08BPX
q2V+oysJDPDrgwE9E4jjiDDzjmPl0JqSOxEB70lceIebU95XM3ZFd75mLOJaaGSmllb2+vyurvld
Ey6cN+gizLpDlXUffYQFBw4ceCND3czpMBAc7K4X2/9MdbsGquyEOxUVu7ASyV1kd6Ilvlbcj5im
cDrbj5rO8jViPsaS2r3xT6Ms76p4hf7jiOvkkF0dh/L+OPqeZRhAey6MCbHJhY/uqA0/evQoIBd3
ZIKQQfJ9YLKCbnbjG3LSEkl70IRTfHFnJ7u//wzPF3g5f9eInUOuNiTf/S8AQkvYLwmgIPt9HH2P
Rvfd//Y9641G799PuX6jv+z/jRx86PvNggZTv+CLnCdQiUjXByzul1Jx9flx+GK99/ALu9on8eNy
YBx31l/hvinG+su4ZjISm9snSchY7p69AuoX6g0yjrl7XLR7GMg2Hg1Fb8O8njxmkyLX1GH9Hz+K
NOKSw6WojH/HF6sklqgL+8a2ytwfgE4iykPvcvm8ikM8rpsEreL+j+jd0jEciVuudxw6gAb/gdN/
m3MwugK8c7TC/pjWlbtomf6IFOxDurMcj3LXp91nHq0qPOrwy4cOvYxlT/b+EyuePHmSH1vBjVXw
Z51ct0PC+L5rDh9+6TB5wco9rzx2/Phjr+w5yp+jpvKpQ+gQ9ufk4lC7APavha0tRYWtrdgftW5q
bd3UwuPDLHjZx90Hyfkz4sv0rieSXsRB5N8F/g/Gi6ls5zeCItc9ugGQb8eB58zn75UUJqr678Xt
u+EH/eG3YX/4Ld7GtkxGm9kn1hUW5BcWFqjl4Wq5HM2/87/5d/yXv29XcrC8rq6ssq7IklYdk2SL
ZN+/64uiu/7P1TmpBKobfczdU8UfQegmpw8+3pqR8fDCZ1y1UBjzGvqUG8O3rSN27SopQZ8uOrJw
U3YmhwFIvWw0Pgb7pwZ0QvyKwkxMktaQE8Humw4M4UK9XW8mp/QIBEJeH0muvAVPfHxcedW4Cbub
UCO7B9V/3KRVBwbiY+zCXR/1FqIZu9+Gzx3DqquHDK8s/2Tq2WHD9OYoPh6kobH0ZK6mqiSnUV3F
ALlVwxB/QBtp+fYGxIzdtCsnd1dz9ZBqNBZJa2rYW6jp0iV2G/JhvyNPnhbInju3T5OVSpBeQetp
dAApeotYG/Jfz/dAe8+ih7g6bRQeT/tRHvw5OLGZ0Sjw+MsHliXbL43fQPuBKwkLnFZ1kxZRrnqJ
lU5Dl8GCQkhuH2bgb47moYK7rkUbxPwpXb37toxwPL25KroydVT7xPqM6ujoiqyRbRMb4hi7Ldhg
Ylu0RmOI1cZYW62OWSenpziY5Bl19XOQqiDHnBYWoQ0Jyy6AdSFKi2vQdyAXO8m8Bpy0ol0nrUT0
H37bMEa7mhzACjZ4NdBqc3aE+wSW1uD55z8h+Sf+luBI49DBsfz5LB372d3f8GfjnI/jPDyB2DdD
bvLXMxruxn9yk7+ZMapO6XuQuXRRQssx/RX2w6pFTPvXuVt3ZY7dmrvl6czJvMyCnS/iZFwEEvMk
p2LITYYqoV6lD8Za9hWU3vsZ1vZ+hkLXP7wzt2Rn4O7fX4PIfYR2IUQZPU6GoensK+QSrEWhj+8s
yd35MCvd/e/uo/4vLXiQlgAAAHjaxVRNTxsxEJ2QDz4OKFQql17mCBUhG0CQkEpVCBIcAFHEuZKz
6yQWy260dhBRq56q/o/2R/UHVPyB3nrooc9eK0WAVKFSdVdrP9sz782sPSai5cIiFSh/vhduPC5Q
deaHxzNULj73uEh7xc8el2i59MzjMs2WWh5XMJ96PEtvyi89nqPX5Z8eV6laeevxEpUr78BcKM1D
+JtTsbhAPPPV4xlaKM57XKSPxRcel2iteONxmRZLqx5XaK3U8XiWvpQ+eTxHH8rvPa4SV155vEQL
lZS6lNKIJpSRogENyZCkiJhWKKRV9A1qURPtmsct2gHqwYNJUOJsDfwk+hFYLJtEb5xFSn20R+BO
gO2cXa3RIdoYL1OHDqZMddhkGClYavSaxlDSGEf4hItRYrzu/HL/s2nc2o3sutW/cnnctuz6LO1I
ITvGN3SsAsg4L8sROQ7Lmvh/kWe7j+hsPDFmO669dvx5LlbPOF7hMtAuKwanBJMd5wo547lTtUqX
LoKLf/ivqJuOJpkaDI2MeCVc5Uar2VhD29rh3oRFErEZSh5l6UhmZsJpn49UkprJSNYOZRxz58Aa
1dOMldGsxz2tIiUyJfU6d7B+Zrk1n0ktsysZ5ZNdSMaxCjkcikyERmaaI6nVIEEUkN1Px71YdmJ5
vc5QuZJGhYKVZsGZHCgNBxieZyKSlyK7eFRU9MCenACP8eWngKaSJ3IsESvRHhzsQbgAjEWILt+k
BD/x3G8G0ya+Y2xEl9p/FKnd4mxTgLeB7Qjc20ZR1WkD5VTHaNsVV0C74G+h3cKq3e5jBJGJRJ8j
a97k4063fTfwmgu2HQSN9SAI2s36RqsebHMj2N1s7W41uXNMjwqUHhagO/GTF3wi8lNXT8LVbl4z
fVct9m5Jb90w928rdj6hE0+xWQzP1HvmPn03b9zM/aoTmDWOr4egf7PkNWgT8lV0GkuhJQ5nX2Zs
Ulcz08piLUOj0oT7OI92pZ8mhs309ApjMtUbOxMcYhW6U/p/b1H6y+J/mir7BZ9Bj2942m2S2W5O
YRhG19Oiqq2aWmPRmlql/j38e2iNVZQaq4Yq2hKiBxqJOHBKDEEiMcQNmJ2hOEFiuhZxEzSkz39i
JztZyc671vt92ZTx9/k9Rsj/nl/jryijnElMZgoVTKWSaVRRTQ3TqWUGM5nFbOZQRz1zmcd8FrCQ
RTSwmCUspZEmlrGcFaxkFc20sJpW1rCWNtZRIBhvR8QUSUjJyGmng/VsYCOb2MwWOtlKF9vYzg66
2ckuetjNHvayj/0coJeD9HGIwxzhKP0cY4DjnOAkgwwxzDU+8pPr3OYFj7nFVe7ziJt85SUfeKoy
lWuSJmuKKjRVlZqmKlWrRtNVqxmaqVmarTmqU73map7ma4EWapEatFhLtFSNatIyLdcKrdQqNatF
q9WqNVqrNq1TQYFCRYpVVKJUmXK1q0PrtUEbtUmbtUWd2qoubdN27VC3dmqXerRbe7RX+7RfB9Sr
g+rTIR3WER1Vv45pQMd1Qic1yGve8I73fOMtY3znCl+4wSt+8InPGuIOz3nCPZ5xlwc81LBOVQ6f
HRkJCoUwmqBiYApNpa+xqWhKTKkpM+UTlBRMbiQTjSC2L7AlsCWwJbQltCX0pqH3C+0LvV9oc2hz
aHNkc2RzZHPkO4jciNyI3IjciNyI3IjdiN2I3YjdiN0o3UvsRuxG7EZcumdPJJ5IPJF4IvFE6q1S
75J6l9S7pDanNqc2pzanNmc2Zz5v5kbmRuZG5kbmRuZG5kbmRu5G7kbuRu5G7kbuRu5GXjpHyTLR
GGdTYPK/W4hMsaloSkypKTO5EbhR2rlYOtu/iSSIimHVucsXzp0ZPT8yeulixeipixeGT5/5A9I5
QdoAAAAB//8AAnjaHYrBEQAQEMRyh3E+atF/KyhAF5bN7EwewYCuD96cQqJihHAaU76Eszny/Csu
WdEE0AB42m2MMQ6CQBRE3wdCNpa7hIIQY6wsPIjXIBorQ0EoOKx3wfFnIRZmM/tnZ95+DDhw5Iq9
hnkkUClhXfk29pyGuzL8VcpFOmr5QvPmrPHIcxGBfEvPmUv+ZX6S3/HHJ6dLGm06Zbb4y7ZSkCre
UlSW9q7Zu6BdcWs+/QsKZQAAAHjahZVdaFxVEMf/9+7eNY21TYIPEaz0IQ8qoqBISGjFh6Ap+KCx
0TQExYoiKCWYQDUpmGLIg4HiJqkBsXWbbj6apDGfm1bzJZSwKSEtCQ2EfUiosuTpIig+iHD83bMf
mlCQ5b8zZ+7Mmf+cO3OuHEmFOqpKOZ+813xGBQpjkTFyEY7c9xubGnXo4w8+PaNHrUX2nyeK6JBd
OyrKej8OCuXpIZ646GU6Htgj39hdj6tdX2lJ9/WbU+iUOk87HzmXnaTrugfdl9xqt8ZtcE+7jfwa
3A53yF0IlYWeD1WF3gHtob/Co+Efw0tuY/h2qCr8a/hP76hX6b3O/2l+n3l93iqrdbva9Xx+uxFF
no28HPkw0gyXSbOqR9RpdnUBdKtUV8xdxcGguaFh5AgYBWOsJ8As+iIoULmZU4W5r0qT0jGT0Cnj
qx40gA3WIR02X6gYlJkVzqUcrcLE8V/BP4pfCr/oHr8EZ1JOfIX5Gz8fv5QO8zyqIusT1RFzTU+A
wLeK9SugGtSAWnZ/C1mHrLcZolQX7F5EzmLTS/Qa0WuWURWoBq+RpwZZS646EPAvJCpBRIIInwg/
G5EiIoV3Cm8fb593mmEXzbKL4z2eZRfHO87+vxMR15vYTiLr7Fmt0AsngpNSiQ6yRzzLMU5Fvl4F
1eANntYgT4JTsKoHDcAl4hbet6wWxK1YLW5tjrpNmnMtNq0wisEoRv918b66TVK9ZoNz39YmKGD/
UjVhPQe6YNZr7tEVmTe4CTx1sOoyvxDr6yLoRX+MXK0wftfmKDFD+Txt6O3s0WnuKGbOqs+cp5/O
qh8MoA+BEfRR5HUwhj6OnAIJMM96AbmIDNGVvqLgEgizSrNKq8dsYUnTUy3Y20EHq07LM+CY1oF8
T5XQ123U0U5MxmvLVhFHP7Kns0ro7lx3BRG53D1UEuSP4dPHCfcjh5DDYIRqR5HXwRj2ceQUtpvI
n8AcmMe+gFxELplhPUPW3nxHlpilfFd+zvm1wK/NTMH3ruX6L4u0vrcslpnRZZhs6SoIZrWf9QD6
IHIIeQ0Mg8zsbsFuC3bL+gE5DibQJ5HTyBlkAsyCG+AmmMe+gFwESfYIwSjN2aZtXzmWk5vvoYh9
+qC3EIadD7O07aiZ7FzFqD1J7TFbe8y+i21q8OGbhqcPP59d4+YPGzuCzMUn0T3q961/znfedsd+
i/fAHQIGSzBYhUEm+/7M09n4wvyMZThmPAf/kyXn6djdPXL59kad5VbcoMZN4NAPAbvAPkWWnP3h
PdO5f2qCaQkmI5iGYBLCeaa53AfolG3iFonbJm4bhjvUsaMpPck57WidjCHuw4TetvO8yrT/X4zD
96iIO6FMT+k5vaAXVa4KvoPHdEK13ED13D5NalaLWnVObTqvL9XB9+uCvlZUXXxBenRR3+o7XdJl
XdFV9WtAwxrTuCY0SZ5pzWhO81rQz0pqRbe1pjta5x689w/bYGx1AHjaY2BgYGQAgmOp20+B6IOS
J7/AaABR1gfcAAA=) format('woff'), url('HelveticaNeueCyr-Black.ttf')  format('truetype'), url('HelveticaNeueCyr-Black.svg#HelveticaNeueCyr-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


